.single__title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.single__textarea__wrapper {
  position: relative;
}

.single__textarea {
  width: calc(100% - 20px);
  height: 200px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.single__button {
  display: block;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #0056b3;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.single__feedback {
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  animation: fadeIn 0.3s ease-in-out;
}
