.todo-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.todo-item button {
  margin-right: 10px;
}

.multi__button.save {
  width: auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.todo-item textarea {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.todo-item .edit-container {
  display: flex;
  align-items: center;
}

.todo-item div {
  flex: 1;
}
