.confirm__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 20px;
  padding: 0 40px;
  gap: 20px;

  .loader,
  .textarea,
  .review {
    flex-basis: 50%;
  }

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .review-button {
    display: block;
    background-color: #4caf50;
    color: white;
    padding: 20px 10px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 100px;
    transition: background-color 0.3s ease-in-out;

    &:after {
      content: "再レビュー";
      position: absolute;
      white-space: nowrap;
      color: white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: bolder;
    }

    &:hover {
      background-color: #388e3c;
    }
  }
}
